::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.GigaChat {
  @apply mx-auto w-[70rem] min-h-[64rem] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 absolute bg-blue-900 rounded-2xl p-4 flex gap-4;
}

.chatListWrapper {
  @apply flex flex-col items-center w-[22rem] bg-blue-600 rounded-2xl py-4 pl-[1rem] pr-[0.5rem];
}

.chatList {
  @apply flex flex-col w-full gap-0.5 max-h-[60rem] overflow-auto;
  & li {
    @apply py-2 bg-blue-300 w-full text-center;
    &:hover {
      @apply bg-blue-200 cursor-pointer;
    }
  }
}

.chat {
  @apply w-full bg-blue-600 rounded-xl p-2 flex flex-col gap-2;
}

.chatHeader {
  @apply h-12 bg-gray-400 w-full rounded-xl flex px-4 items-center justify-between;
}

.chatBody {
  @apply bg-gray-400 w-full flex-1 rounded-xl overflow-auto p-4 max-h-[51rem] gap-2 flex flex-col;
}

.chatFooter {
  @apply h-24 bg-gray-400 w-full rounded-xl;
}

.message {
  @apply bg-green-400 w-96 rounded-xl text-right p-2 self-end;

  &.notMe {
    @apply bg-blue-400 self-start text-left;
  }
}

.GigaHeader {
  @apply w-full h-[4rem] bg-blue-900 rounded-b-2xl flex items-center px-8 gap-8 text-white;
  & input {
    @apply text-black;
  }
}